# URL del Backend (Payload CMS)
# En local debe apuntar al localhost:4000
# En Vercel, debes configurar esta variable apuntando a tu despliegue del CMS (ej. https://tu-cms.vercel.app/api)
VITE_CMS_URL=http://localhost:4000/api
